@using ConsultaCep.Models.ViewModel
@using ConsultaCep.Models
@model ConsultaCep.Models.Endereco

@{
    ViewData["Title"] = "Consulte um CEP";

    var cep = Context.Request.Query["cep"];

    Endereco endereco = new Endereco();
    string mapa = "";
    string cliqueAqui = "";

    if (validaCep(cep))
    {
        endereco = ConsultaCep(cep);
        cliqueAqui = "Clique aqui para visualizar o endereço no mapa";
        mapa = $"https://www.google.com/maps/place/{endereco.Logradouro}+{endereco.CEP}+{endereco.Localidade}";
    }
}

<h2>@ViewData["Title"]</h2>

<form>
    <div class="form-group">
        <label for="cep" control-label>CEP:</label>
        <input type="search" name="cep" maxlength="9" />
        <button class="btn btn-primary">Pesquisar</button>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(Model => Model.CEP)
            </th>
            <th>
                @Html.DisplayNameFor(Model => Model.Logradouro)
            </th>
            <th>
                @Html.DisplayNameFor(Model => Model.Complemento)
            </th>
            <th>
                @Html.DisplayNameFor(Model => Model.Bairro)
            </th>
            <th>
                @Html.DisplayNameFor(Model => Model.Localidade)
            </th>
            <th>
                @Html.DisplayNameFor(Model => Model.UF)
            </th>
            <th>
                @Html.DisplayNameFor(Model => Model.Populacao)
            </th>
            <th>
                @Html.DisplayNameFor(Model => Model.DDD)
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @endereco.CEP
            </td>
            <td>
                @endereco.Logradouro
            </td>
            <td>
                @endereco.Complemento
            </td>
            <td>
                @endereco.Bairro
            </td>
            <td>
                @endereco.Localidade
            </td>
            <td>
                @endereco.UF
            </td>
            <td>
                @endereco.Populacao
            </td>
            <td>
                @endereco.DDD
            </td>
        </tr>
    </tbody>
</table>

<p>
    <a href="@mapa" target="_blank">
        @cliqueAqui
    </a>
</p>

@functions {

    public Endereco ConsultaCep(string cep)
    {
        var enderecoTask = new EnderecoViewModel().GetAddressAsync(cep);

        enderecoTask.ContinueWith(task =>
        {
            Endereco enderecoTask = task.Result;
        },
        TaskContinuationOptions.OnlyOnRanToCompletion);

        return enderecoTask.Result;
    }

    public bool validaCep(string cep)
    {
        if (cep == null)
            return false;
        if (cep != "" && cep.Replace("-", "").Length == 8)
            return true;
        else
            return false;
    }
}